body{
    margin-left: 16vw;
    margin-right: 16vw;
    background-color: #323a3e;
    color: #eef0f1;
}

@media screen and (max-width:576px) {
    body{
        margin-left: 2vw;
        margin-right: 2vw;
    }
}