/* GLOBALES */
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-width: none;
}

body{
    margin-left: 16vw;
    margin-right: 16vw;
    margin-top: 8vh;
}

a{
    color: rgba(255, 255, 255, 0.45) !important;
    text-decoration: underline !important;
}

a:hover{
    color: silver !important;
}
/* -------------------------------------------------------------------------------------------- */



/* CLASSES */
.ant-spin-text{
    color: #FFFFFF;
}

.nightBackground{
    background: rgb(1,17,64);
    background: -moz-radial-gradient(circle, rgba(1,17,64,1) 0%, rgba(0,6,11,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,17,64,1) 0%, rgba(0,6,11,1) 100%);
    background: radial-gradient(circle, rgba(1,17,64,1) 0%, rgba(0,6,11,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011140",endColorstr="#00060b",GradientType=1);
}

.dayBackground{
    background: rgb(32,112,145);
    background: -moz-radial-gradient(circle, rgba(32,112,145,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(32,112,145,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(32,112,145,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#207091",endColorstr="#000000",GradientType=1); 
}

.font-medium{
    font-size: 1.4rem;
}

.font-small{
    font-size: .9rem;
}

.center-auto-margin{
    margin-bottom: auto;
    margin-top: auto;
}

.all-center{
    align-items: center;
    display: flex;
    justify-content: center;
}

.border-radius-8{
    border-radius: 8px;
}

.ml-1{
    margin-left: 1rem;
}

.mt-1{
    margin-top: 1rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.cover-img{
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.short-container{
    border-radius: 8px;
    box-shadow: 1px 1px 16px rgba(110, 109, 101, .8);
    height: 30vh;
    margin-bottom: 2rem;
    width: 60vw;

}

.card-weather-information{
    align-items: center;
    border: 1px solid rgba(110, 109, 101, .2);
    border-radius: 8px;
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
    max-height: 12vh;
    padding: .1rem;
    text-align: center
}

.text-over-top-left{
    font-size: 2rem;
    font-weight: bold;
    left: 40px;
    position: absolute;
    text-shadow: 1px 2px 10px #000;
    top: 20px;
}

.icon-over-bottom-right{
    bottom: 20px;
    height: 120px;
    position: absolute;
    right: 40px;
    width: 120px;
}

.d-none-mobile{
    display: block;
}

.d-none-desktop{
    display: none;
}

.skeleton-ilustrated-weather{
    margin-bottom: 1rem;
    width: 100% !important;
}

.paragraph-container {
    border: 1px solid rgba(110, 109, 101, .2);
    border-radius: 8px;
    padding: 1rem;
}

.icon-daily-forecast{
    float: right;
    height: 30px;
    width: 30px;
}

.carousel-style {
    border: 1px solid rgba(110, 109, 101, .2);
    border-radius: 8px;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left:1rem;
    padding-right: 2rem;
};

/* ANTD: Carousel dots */
.slick-dots li button {
    background-color: #fff;
    color: #fff;
}

.ant-carousel .slick-dots li.slick-active button {
    background: lightskyblue;
}
/* -------------------------------------------------------------------------- */



/* IDs */
#logoClimaap{
    height: 60px;
    width: 60px;
}

#containerAccuweatherLogo{
    background-color: lightsteelblue;
     border-radius: 8px;
     padding: .2rem;
     width: 133px;
}
/* ------------------------------------------------------------------------- */



/* MEDIA QUERYS */
@media screen and (max-width:576px) {
    body{
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vh;
    }

    .short-container{
        height: 20vh;
        width: 90vw;
    }

    .icon-over-bottom-right{
        bottom: 10px;
        height: 60px;
        right: 20px;
        width: 60px;
    }

    .icon-daily-forecast{
        height: 26px;
        width: 26px;
    }

    .text-over-top-left{
        font-size: 1.4rem;
        left: 20px;
        top: 10px;
    }

    .d-none-desktop{
        display: inline;
    }

    .d-none-mobile{
        display: none;
    }
    
    .border-text-center{
        height: 10vh;
    }
    
    .font-medium{
        font-size: 1.2rem;
    }

    .font-small{
        font-size: .7rem;
    }
    
    .card-weather-information{
        height: 9vh;
        margin-bottom: .6rem;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    .ml-1{
        margin-left: .4rem;
    }
    
    #logoClimaap{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    body{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .font-small{
        font-size: .8rem;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    body{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}